<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
      <PatternLayout disableAnsi="false"
        pattern="%yellow{%d{HH:mm:ss.SSS}} %X{ChannelTraceId} %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=blue} %magenta{PID:%pid} %cyan{Thread:[%t]} %white{%logger:%line} - %highlight{%msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=cyan}"/>
    </Console>

  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>
